<div class="wrapper">
  <div class="header">
    Beta Testing
  </div>
  <div class="content">
    <p id="notice"><%= notice %></p>

    <% @builds.each do |build| %>
        <div class="title"><%= build.app.name if build.app %> (<%= build.build %>)</div>
        <div class="clearfix line property-box">
          <div class="property">Version</div>
          <div class="value"><%= build.version %></div>
        </div>
        <div class="clearfix line property-box">
          <div class="property">Build</div>
          <div class="value"><%= build.build %></div>
        </div>
        <div class="clearfix line property-box">
          <div class="property">Platform</div>
          <div class="value"><%= build.app.platform if build.app %></div>
        </div>
        <div class="clearfix line property-box">
          <div class="property">Identifier</div>
          <div class="value"><%= build.app.identifier if build.app %></div>
        </div>
        <div class="clearfix line property-box">
          <div class="property">Date uploaded</div>
          <div class="value"><%= build.created_at %></div>
        </div>
        <%= link_to 'Show', build, { :class => "line download-box" } %>
        <div class="line"></div>
    <% end %>

    <div class="title">Signed in as</div>
    <div class="clearfix line property-box">
      <div class="property"> <%= current_user.email %></div>
    </div>
    <%= link_to 'Sign out', { controller: 'auth/sessions', action: 'destroy' },
                :class => "line download-box", method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <div class="line"></div>

    <% if user_signed_in? %>
        <div class="title">Manage</div>
        <a class="line download-box" href="<%= new_build_path %>">Upload application</a>
        <%= link_to 'Re-import all', { controller: 'builds', action: 'reimport_all' },
                    :class => "line download-box", method: :post, data: { confirm: 'Are you sure (this might take long time)?' } %></td>
        <div class="line"></div>
    <% end %>
  </div>
</div>