<p id="notice"><%= notice %></p>

<p>
  <strong>Platform:</strong>
  <%= @build.platform %>
</p>

<p>
  <strong>Bundleidentifier:</strong>
  <%= @build.bundleIdentifier %>
</p>

<p>
  <strong>Version:</strong>
  <%= @build.version %>
</p>

<p>
  <strong>Build:</strong>
  <%= @build.build %>
</p>

<p>
  <strong>App:</strong>
  <%= @build.app %>
</p>

<%= link_to 'Edit', edit_build_path(@build) %> |
<%= link_to 'Back', builds_path %>
